1. The two values of boolean data type are True and False. We can write them by commanding the values for example:

In [5]:
bool (4>=4)

True

In [6]:
bool (4>9)

False

2. The three different types of Boolean operators are AND, OR and NOT.

3. The list of each Boolean operator's truth tables for the value operators that is AND, OR and NOT is as follows.
   First let's see for AND operator: 
   The condition for the output to be true is that both the input values has to be true.
   here a=1 and b=0 (a=true and b=false)
   input a         input b          output 
      0               1              False  (here there is only one true, whereas we require two trues)
      1               0              False  (here there is only one true, whereas we require two trues)
      0               0              False  (Here both the inputs are 0 hence the output woulb be false)
      1               1              TRUE  (This is the required answer, which has 2 true inputs)
   secondly NOT operator:
   With this operator we get the opposite output.
   input          output 
   false          True
   True           False
   Next comes the OR Operator:
   Here the condition is that at least one input should be true for the output to be true.
   here a=1 and b=0 (a=true and b=false)
   input a         input b         output 
     1               0              TRUE
     0               1              TRUE 
     0               0              False (Here not even one input is 1)
     1               1              TRUE

In [9]:
4.
(4>5) and (3==5)

False

In [10]:
not (5 > 4)

False

In [11]:
(5 > 4) or (3 == 5)

True

In [12]:
not ((5 > 4) or (3 == 5))

False

In [13]:
(True and True) and (True == False)

False

In [14]:
(not False) or (not True)

True

5. The six comparision operators are > (greater than), < (lesser than), >= (greater than or equal to), <= (lesser than or equal to), = (equal to), != (Not equal to).

6. The difference between the equal to and assignment operators is that assignment operators are used to assign the value to the variable for example a= 2 (here a is the variable and 2 is the value assigned to it). Where as, Equal operator are used for comparison. Hence it is used for comparing two values, if the two values are same then the output would be true or else false.

In [15]:
(True == False)    (we used the equal operator here. where true is 1 and false is 0 hence they 
                    are not equal so the output is false )

False

In [17]:
7.
spam = 0
if spam == 10:
 print('eggs')
if spam > 5:
 print('bacon')
else:
 print('ham')
 print('spam')

ham
spam

In [18]:
spam = 7
if spam == 10:
 print('eggs')
if spam > 5:
 print('bacon')
else:
 print('ham')
 print('spam')

bacon

In [4]:
8.
spam = 1
if spam == 1 :
    print ('hello')
    
    if spam < 2:
      print (' Howdy')
    else:
            print ('Greeting!')

hello
 Howdy

9. Ctrl + C

10. Break stops the continuation of the loop whereas, continue do not stop the continuation of the loop but it only stops the current iteration.

11. range (10) are the numbers from 0-9 i,e. 0,1,2,3,4,5,6,7,8,9
    range (0, 10) are the numbers from 0-9 i,e. 0,1,2,3,4,5,6,7,8,9
    range (0, 10, 1) are the numbers from 0-9 i,e. 0,1,2,3,4,5,6,7,8,9
    in the first range the sequence starts from 0 and ends before the argument. The second range starts from 0 and ends at last     second value. Whereas, in the third one the range starts from 0 ends before the last second value but by leaving the value     given at last. from the above range it started from 0 with a jump of 1 and ends at the second last number.

In [1]:
12. 
for s in range (1,11):
    print (s)

1
2
3
4
5
6
7
8
9
10

In [5]:
a=1
b=10

while a<=b:
        print(a)
        a = a+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
13. spam.bacon()